@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --grid-border-color: hsl(0, 0%, 92%);
    --header-height: 70px;
    --content-min-width: 330px;
    --content-width: 964px;

    --selection-bg-color: hsla(212, 100%, 41%, 1);
    --selection-text-color: #fff;

    --font-sans: var(--font-geist-sans);
    --font-sans-fallback: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --grid-border-color: hsl(0, 0%, 12%);
    }
  }
}

@layer base {
  ::selection {
    background-color: var(--selection-bg-color);
    color: var(--selection-text-color);
  }

  *:after {
    pointer-events: none;
  }

  html,
  body {
    font-family: var(--font-sans), var(--font-sans-fallback);
    font-feature-settings:
      'calt' 0,
      'rlig';
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: text;
  }

  body {
    overscroll-behavior-y: contain;
    font-size: 100%;
    min-height: 100vh;
    max-width: 100vw;
    width: 100vw;
    background-color: theme('colors.neutral.50');
    color: rgb(23, 23, 23);
    overflow-x: hidden;
  }

  h1 {
    @apply text-lg font-semibold;
  }

  p {
    font-size: max(16px, min(2vw, 17px));
    line-height: 1.75;
  }

  a {
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease;

    /* Prevent tap highlight and tap callout */
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: black;
      color: rgb(237, 237, 237);
    }
  }

  /* https://bugs.webkit.org/show_bug.cgi?id=243601
  https://nextjs.org/docs/pages/api-reference/components/image#known-browser-bugs 
  Safari 15 and 16 display a gray border while loading */
  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading='lazy'] {
      clip-path: inset(0.6px);
    }
  }
}
