@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --content-min-width: 330px;
    --content-width: 964px;

    --selection-bg-color: hsla(212, 100%, 41%, 1);
    --selection-text-color: theme('colors.white');

    --font-sans: var(--font-geist-sans);
    --font-sans-fallback: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;

    --navbar-width: 400px;
    --navbar-height: 54px;
    --navbar-offset: 16px;
    --navbar-border-color: rgba(0, 0, 0, 0.05);
    --navbar-bg-initial: 0 0% 100%;
    --navbar-bg-max-rgb: 235;
    --navbar-bg-max-alpha: 0.8;
    --navbar-bg-end: rgba(
      var(--navbar-bg-max-rgb),
      var(--navbar-bg-max-rgb),
      var(--navbar-bg-max-rgb),
      var(--navbar-bg-max-alpha)
    );
    --navbar-animation-start-y: 20;
    --navbar-animation-end-y: 317;

    --header-height: calc(var(--navbar-height) + var(--navbar-offset) * 2);

    --grid-border-color: hsl(0, 0%, 92%);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --grid-border-color: hsl(0, 0%, 12%);

      --navbar-border-color: rgba(255, 255, 255, 0.12);
      --navbar-bg-initial: 0 0% 0%;
      --navbar-bg-max-rgb: 50;
      --navbar-bg-end: rgba(
        var(--navbar-bg-max-rgb),
        var(--navbar-bg-max-rgb),
        var(--navbar-bg-max-rgb),
        var(--navbar-bg-max-alpha)
      );
    }
  }
}

@layer base {
  ::selection {
    background-color: var(--selection-bg-color);
    color: var(--selection-text-color);
  }

  html,
  body {
    font-family: var(--font-sans), var(--font-sans-fallback);
    font-feature-settings:
      'calt' 0,
      'rlig';
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    overscroll-behavior-y: contain;
    font-size: 100%;
    min-height: 100vh;
    max-width: 100vw;
    width: 100vw;
    background-color: theme('colors.neutral.50');
    overflow-x: hidden;
  }

  a {
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease;

    /* Prevent tap highlight and tap callout */
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: black;
    }
  }

  /* https://bugs.webkit.org/show_bug.cgi?id=243601
  https://nextjs.org/docs/pages/api-reference/components/image#known-browser-bugs 
  Safari 15 and 16 display a gray border while loading */
  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading='lazy'] {
      clip-path: inset(0.6px);
    }
  }
}
