.prose {
  font-size: 1rem;
  line-height: 1.75;
}

.prose h1 {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 600;
}

.prose strong {
  font-weight: 600;
}

.prose p:not(:first-child) {
  margin-top: 1.5rem;
}

.prose p {
  font-size: max(16px, min(2vw, 17px));
}

.prose ol,
.prose ul {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}
.prose ul {
  list-style-type: disc;
}

.prose li {
  padding-left: 0.375em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose ul > li::marker {
  color: #666;
}

@media (prefers-color-scheme: dark) {
  .prose ul > li::marker {
    color: #a1a1a1;
  }
}
