.prose {
  color: rgb(27, 28, 29);
}

.prose h2,
.prose h3,
.prose strong {
  color: black;
}

.prose h2,
.prose h3 {
  margin-top: 2rem;
  scroll-margin: 5rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.prose h2 {
  font-size: 1.2rem;
}

.prose strong {
  font-weight: 600;
}

.prose p:not(:first-child) {
  margin-top: 1.5rem;
}

.prose p {
  line-height: 1.5em;
}

.prose a {
  border-bottom-width: 1px;
  line-height: 1.2;
  border-color: rgba(139, 57, 247, 0.3);
  --tw-text-opacity: 1;
  color: rgb(82 36 252 / var(--tw-text-opacity));
}

.prose a:hover {
  border-color: rgba(16, 7, 255, 0.5);
  --tw-text-opacity: 1;
  color: rgb(16 7 255 / var(--tw-text-opacity));
}

.prose ol,
.prose ul {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}
.prose ul {
  list-style-type: disc;
}

.prose li {
  margin-top: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .prose {
    color: white;
  }

  .prose h2,
  .prose h3,
  .prose strong {
    color: white;
  }

  .prose a {
    border-color: rgba(139, 207, 247, 0.3);
    --tw-text-opacity: 1;
    color: rgb(182 226 252 / var(--tw-text-opacity));
  }

  .prose a:hover {
    border-color: rgba(239, 248, 255, 0.5);
    --tw-text-opacity: 1;
    color: rgb(239 248 255 / var(--tw-text-opacity));
  }
}
