@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --rgbMax: 235;
    --background-alpha: rgba(235, 235, 235, 0.8);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 0 0% 0%;
      --rgbMax: 50;
      --background-alpha: rgba(50, 50, 50, 0.8);
    }
  }
}

@layer base {
  ::selection {
    background-color: #79ffe1;
    color: theme('colors.black');
  }

  html,
  body {
    /* Enable panning and pinch zoom gestures, but disable additional non-standard gestures such as double-tap to zoom */
    touch-action: manipulation;
    min-width: 360px;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    overscroll-behavior-y: contain;
  }

  strong {
    font-weight: 500;
    color: theme('colors.neutral.900');
  }

  @media (prefers-color-scheme: dark) {
    strong {
      color: theme('colors.neutral.100');
    }
  }

  /* https://bugs.webkit.org/show_bug.cgi?id=243601
  https://nextjs.org/docs/pages/api-reference/components/image#known-browser-bugs 
  Safari 15 and 16 display a gray border while loading */
  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading='lazy'] {
      clip-path: inset(0.6px);
    }
  }
}
