@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navbar-bg-initial: 0 0% 100%;
    --navbar-bg-max-rgb: 235;
    --navbar-bg-max-alpha: 0.8;
    --navbar-bg-end: rgba(
      var(--navbar-bg-max-rgb),
      var(--navbar-bg-max-rgb),
      var(--navbar-bg-max-rgb),
      var(--navbar-bg-max-alpha)
    );
    --navbar-animation-start-y: 20;
    --navbar-animation-end-y: 317;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --navbar-bg-initial: 0 0% 0%;
      --navbar-bg-max-rgb: 50;
      --navbar-bg-end: rgba(
        var(--navbar-bg-max-rgb),
        var(--navbar-bg-max-rgb),
        var(--navbar-bg-max-rgb),
        var(--navbar-bg-max-alpha)
      );
    }
  }
}

@layer base {
  ::selection {
    background-color: theme('colors.selection');
    color: theme('colors.white');
  }

  html,
  body {
    /* Enable panning and pinch zoom gestures, but disable additional non-standard gestures such as double-tap to zoom */
    touch-action: manipulation;
    min-width: 360px;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    overscroll-behavior-y: contain;
  }

  strong {
    font-weight: 500;
    color: theme('colors.neutral.950');
  }

  @media (prefers-color-scheme: dark) {
    strong {
      color: theme('colors.neutral.100');
    }
  }

  /* https://bugs.webkit.org/show_bug.cgi?id=243601
  https://nextjs.org/docs/pages/api-reference/components/image#known-browser-bugs 
  Safari 15 and 16 display a gray border while loading */
  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading='lazy'] {
      clip-path: inset(0.6px);
    }
  }
}
