@import 'tailwindcss';

@theme {
  --font-sans: var(--font-geist-sans);
}

@layer base {
  :root {
    --header-height: 64px;
    --content-min-width: 250px;
    --content-width: 964px;

    --selection-bg-color: hsla(212, 100%, 41%, 1);
    --selection-text-color: #fff;
  }
}

@layer base {
  ::selection {
    background-color: var(--selection-bg-color);
    color: var(--selection-text-color);
  }

  *:after {
    pointer-events: none;
  }

  *,
  :after,
  :before {
    box-sizing: border-box;
  }

  :where(html, body) {
    min-height: 100%;
  }

  @supports (font-synthesis-weight: none) {
    html {
      font-synthesis: initial;
      font-synthesis-weight: none;
    }
  }

  html {
    touch-action: manipulation;
    font-feature-settings:
      'rlig' 1,
      'calt' 0;
    text-rendering: optimizeLegibility;
    font-synthesis: none;
  }

  html,
  body {
    font-feature-settings:
      'calt' 0,
      'rlig';
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: text;
  }

  body {
    overscroll-behavior-y: contain;
    background-color: var(--color-neutral-50);
    position: relative;
    font-size: 100%;
    min-height: 100%;
    max-width: 100vw;
    margin: 0;
  }

  a {
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease;

    /* Prevent tap highlight and tap callout */
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }

  /* https://bugs.webkit.org/show_bug.cgi?id=243601
  https://nextjs.org/docs/pages/api-reference/components/image#known-browser-bugs 
  Safari 15 and 16 display a gray border while loading */
  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading='lazy'] {
      clip-path: inset(0.6px);
    }
  }
}
